html {
  box-sizing: border-box;
  font-family: Nunito;
}

#chatFrame {
  max-width: 300px;
  margin: 30px auto;
  border: .75px solid black;
  border-radius: 4px;
}

#chatWindow {
  max-width: 400px;
  height: 300px;
  overflow: auto;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  color: #555;
}


#feedback p {
  font-size: 16px;
  color: grey;
  padding: 14px 0px;
  margin: 0 20px;
}

input {
  box-sizing: border-box;
  padding: 10px 20px;
  display: block;
  width: 100%;
  font-size: 16px;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

button {
  background: #5f65ca;
  color: white;
  font-size: 18px;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
}